// app global css in SCSS form
@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap')

.text-grand-hotel
   font-family: 'Grand Hotel', 'Roboto', 'Helvetica Neue', Arial, Helvetica, sans-serif

.small-screen-only
   @media (max-width: $breakpoint-xs-max)
      display: block
   @media (min-width: $breakpoint-sm-min)
      display: none

.large-screen-only
   @media (max-width: $breakpoint-xs-max)
      display: none
   @media (min-width: $breakpoint-sm-min)
      display: block

.q-page
   max-width: 975px
   margin: 0 auto
   padding: 16px

.constrain
   max-width: 975px
   margin: 0 auto

.constrain-more
   max-width: 600px
   margin: 0 auto
